<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Qr Code</title>
</head>

<body>
    <div class="container">
        <img src="<%= qr_code %>" alt="QR Code"> <br>
        <a href="/" role="button" class="bg-red-200 py-[10px] px-[15px] font-semibold rounded-[10px]">Back</a>
    </div>
</body>

</html>